<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NodeBlog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>
<nav>
    <span><a href="/" title="index">home</a></span>
    <span><a href="/login" title="login">login</a></span>
    <span><a href="/reg" title="reg">reg</a></span>

</nav>
<article>
