<%- include header.ejs %>
<form action="" method="post">
    用户名: <input type="text" name="name" required>
    密码: <input type="password" name="password" required>
    <input type="submit" value="提交">
</form>

<%- include footer.ejs %>